<h1>{{title}}</h1>
<ul>
  {{#each users}}
    <li>
      <strong>{{firstName}} {{lastName}}</strong>
      -
      {{age}}
      años,
      {{gender}}
      - Email:
      {{email}}
    </li>
  {{/each}}
</ul>